body { 
    font-family: Arial, sans-serif; 
    background: #f0f0f0; 
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box { 
    background: #ddd; 
    padding: 30px; 
    border-radius: 10px; 
    width: 300px; 
    text-align: center; 
}

.login-box h2 { 
    margin-bottom: 20px; 
}

.register-box { 
    background: #ddd; 
    padding: 40px; 
    border-radius: 20px; 
    width: 350px; 
    text-align: center;
}

register-box h2 { 
    margin-bottom: 30px; 
}

input { 
    width: 92%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

button {  
    width: 100%;
    padding: 10px; 
    background: orange; 
    border: none; color: white; 
    border-radius: 5px; 
    cursor: pointer;
    margin-top: 10px; 
}

button:hover { 
    background: darkorange; 
}

.error { 
    color: red; font-size: 14px; 
}

.links {
    text-align: right;
    margin-top: 10px;
}

.links a {
    color: #1e73e8;
    text-decoration: none;
    font-size: 14px;
}

.register-text {
    margin-top: 20px;
    font-size: 14px;
}

.register-text a {
    color: #1e73e8;
    text-decoration: none;
    font-weight: bold;
}